.days a {
	margin: 0 .5em;
}

.timeline {
	width: calc(100% - 8em);
	overflow-x: scroll;
	margin-left: 8em;
	overflow-y: visible;
	cursor: move;
	cursor: grab;
}

.timeline table .headcol {
	position: absolute;
	width: 8em;
	left: 0;
	top: auto;
	border-top-width: 1px;
	/*only relevant for first row*/
	margin-top: -1px;
	/*compensate for top border*/
}

.timeline table * {
	text-align: center;
	vertical-align: middle;
	margin: auto;
}

.timeline table thead th,
.timeline table tbody td {
	min-width: 5em;
}

.room-events {
	position: relative;
}

.timeline table tbody td,
.timeline table tbody th {
	position: relative;
	top: 1em;
}

.timeline table tbody th .time {
	margin-bottom: 280px;
	transform: translate(0, -50%);
}

.event {
	position: absolute;
	overflow: hidden;
	width: 100% !important;
	min-width: 100% !important;
	display: block;
	vertical-align: middle;
	margin: auto;
}

.event > span {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-top: auto;
	margin-bottom: 0.2em;
}

.event > span:nth-child(2) {
	font-weight: 900;
}